<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="validation.mostrar == 0" id="mapa-mapbox"></div>
  <br><br><br>
  <p *ngIf="validation.mostrar == 1" class="center">Aún no se tienen datos para mostrar. <br />El mapa necesita por lo menos 1 marcación</p>

</ion-content>
