<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="salir()">Salir</ion-button>
        </ion-buttons>
        <!-- <ion-title routerLink="/buscar">Mi perfil</ion-title> -->
        <ion-buttons slot="end">
            <ion-button routerLink="/buscar">Visita</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col size="12" size-sm="12" size-md="6" size-lg="6" size-xl="4" offset-md="3" offset-lg="3" offset-xl="4">
            <ion-card>

                <ion-avatar>
                    <img src="../../assets/images/profileU.jpg" alt="" class="img">
                </ion-avatar>

                <div>
                    <ion-item>
                        <h2 class="centro">{{user.name}}</h2>
                    </ion-item>

                    <ion-item>
                        <h2 class="centro">{{user.rol}}</h2>
                    </ion-item>
                </div>

                <br>

                <ion-item>
                    <h3 class="centro">Detalles de mi Ruta</h3>
                </ion-item>

                <ion-list *ngIf="resul.response?.salesQuantity > 0">

                    <ion-item>
                        <ion-label>Simcard</ion-label>
                        <ion-badge color="secondary" slot="end">{{resul.response?.salesByUserGroupByMonth[0].simcard}}</ion-badge>
                    </ion-item>
                    <ion-item>
                        <ion-label>Simcard 500MB</ion-label>
                        <ion-badge color="danger" slot="end">{{resul.response?.salesByUserGroupByMonth[0].simcard_500mb}}</ion-badge>
                    </ion-item>

                    <ion-item>
                        <ion-label>Recarga</ion-label>
                        <ion-badge color="danger" slot="end">${{ resul.response?.salesByUserGroupByMonth[0].recharge/1000 }}K</ion-badge>
                    </ion-item>

                </ion-list>

                <ion-list>

                    <ion-item>
                        <ion-label>Visitas para Hoy</ion-label>
                        <ion-badge color="secondary" slot="end">{{resul.response?.points}}</ion-badge>
                    </ion-item>
                    <ion-item>
                        <ion-label>Visitas Realizadas hoy</ion-label>
                        <ion-badge color="danger" slot="end">{{resul.response?.salesQuantity}}</ion-badge>
                    </ion-item>

                    <ion-item>
                        <ion-label>Visitas que Faltan</ion-label>
                        <ion-badge color="danger" slot="end">{{resul.response?.points - resul.response?.salesQuantity}}</ion-badge>
                    </ion-item>

                    <ion-item>
                        <ion-label>Efectividad </ion-label>
                        <ion-badge color="danger" slot="end">{{(resul.response?.salesQuantity / resul.response?.points) * 100 | number : '1.1'}}%</ion-badge>
                    </ion-item>
                </ion-list>


                <ion-col size="12" *ngIf="validacion.puntos == 0">
                    <ion-button expand="block" color="warning" (click)="validar('a')">Buscar puntos restantes</ion-button>
                </ion-col>

                <ion-col size="12" *ngIf="validacion.puntos == 1">
                    <ion-button expand="block" color="primary" (click)="validar('n')">ocultar puntos restantes</ion-button>
                </ion-col>
                <ion-col size="12">
                    <ion-button expand="block" color="success" routerLink="/visits">Ver mis Visitas</ion-button>
                </ion-col>

            </ion-card>
        </ion-col>

    </ion-row>

    <ion-list *ngIf="validacion.puntos == 1">
        <ion-list-header>
            Puntos pendientes
        </ion-list-header>

        <ion-item *ngFor="let point of points; let indice=index" (click)="visitPoint(point[0].code)">
            <ion-avatar slot="start">
                <img src="../../assets/images/profileU.jpg">
            </ion-avatar>
            <ion-icon slot="end" class="iconIr" color="primary" name="chevron-forward-circle"></ion-icon>

            <ion-label>
                <h2>{{point[0].name}}</h2>
                <h3>{{point[0].code}}</h3>
                <h3>Estado DMS:
                    <p> {{point[0].status_dms}}</p>
                </h3>
            </ion-label>
        </ion-item>




    </ion-list>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/pendientes">
        <ion-fab-button color="primary">
            <ion-icon name="list-sharp"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab horizontal="start" vertical="bottom" slot="fixed" routerLink="/register-line">
        <ion-fab-button color="success">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>