<ion-header>
    <ion-toolbar>
        <ion-title>visits</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label>MM DD YY</ion-label>
        <ion-datetime placeholder="Select Date"></ion-datetime>
    </ion-item>

</ion-content>