<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="salir()">Salir</ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <!-- <ion-button routerLink="/buscar">Visita</ion-button> -->
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col size="12" size-sm="12" size-md="6" size-lg="6" size-xl="4" offset-md="3" offset-lg="3" offset-xl="4">
            <ion-card>



                <ion-avatar>
                    <img src="../../assets/images/profileU.jpg" alt="" class="img">
                </ion-avatar>

                <div>
                    <ion-item>
                        <h2 class="centro"> {{user.name}}</h2>
                    </ion-item>

                    <ion-item>
                        <h2 class="centro">{{user.rol}}</h2>
                    </ion-item>
                </div>

                <br>

                <ion-item>
                    <h3 class="centro">Detalles de mi ruta</h3>
                </ion-item>

                <ion-list>

                    <ion-item *ngFor="let supervisor of supervisores; let indice=index" (click)="viewSupervisor(supervisor.response.resumen.supervisor.id)">
                        <!-- <ion-label>{{indice +1}}</ion-label> -->
                        <ion-label>{{ supervisores2[indice].name}}</ion-label>
                        <ion-badge *ngIf="supervisor.response.resumen.totalPoints != 0" [color]="color(supervisor)" slot="end">{{ supervisor.response.resumen.totalSaleQuantity / supervisor.response.resumen.totalPoints * 100 | number}}%</ion-badge>
                        <ion-badge *ngIf="supervisor.response.resumen.totalPoints == 0" color="danger" slot="end">sin frecuencia</ion-badge>
                    </ion-item>

                </ion-list>
                <div *ngIf="supervisores.length == 0">
                    <div class="ion-padding custom-skeleton">
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        <ion-skeleton-text animated></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>

                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </div>
                </div>



            </ion-card>
        </ion-col>



    </ion-row>

    <!-- Skeleton screen -->


    <ion-button (click)="downloadPdf(data)" expand="block"  shape="round">
        Download
    </ion-button>
</ion-content>