ion-avatar{
    width: 100px;
    height: 90px;
    margin: auto;
}

.centro{
    margin: auto;
}

ion-toolbar {
    --background: #f5f5f3;

    ion-button {
        text-transform: initial;
        font-size: 17px;
    }
}


ion-content {
    --background: #f5f5f3;

    ion-card {
        --background: #f5f5f3;

        
    }

    ion-item {
        --background: #f5f5f3;

    }

    ion-title {
        --background: #f5f5f3;

    }

    

    


}