<ion-toolbar>


</ion-toolbar>


<ion-content>

    <div id="header">

        <img src="assets/icon/iniciologin.png" alt="">
    </div>

    <form id="form" (ngSubmit)="login( f )" #f="ngForm">


        <div class="ion-margin-bottom">

            <span *ngIf="f.submitted && f.controls['email'].errors" class="">el usuario es obligatorio</span>
        </div>
        <ion-item class="ion-margin-bottom">

            <ion-input [(ngModel)]="usuario.identification_card" required type="number" placeholder="usuario" name="email" minlength="4">

            </ion-input>

        </ion-item>


        <div class="ion-margin-bottom">

            <span *ngIf="f.submitted && f.controls['password'].errors" class="">la contraseña es obligatoria</span>
        </div>

        <ion-item class="ion-margin-bottom">

            <ion-input [(ngModel)]="usuario.password" pattern="[0-9]*" inputmode="numeric" required type="password" placeholder="password" name="password" minlength="6">
            </ion-input>

        </ion-item>

        <ion-button expand="block" type="submit" shape="round">Login</ion-button>
    </form>

</ion-content>