<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="salir()">Salir</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/venta">Mis estadisticas</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Registrar visita<br />PDA/PDV</h1>

  <form id="form">
    <ion-item class="ion-margin-bottom">
      <ion-input type="number" [(ngModel)]="credential.id" [ngModelOptions]="{standalone: true}" placeholder=" Ingrese ID"></ion-input>
    </ion-item>
    
    <ion-button expand="block" (click)="buscar()" shape="round">Iniciar visita</ion-button>
  </form>

  <p>By pressing 'Join Us' you agree to <br />our terms & conditions.</p>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/pendientes">
    <ion-fab-button color="primary">
      <ion-icon name="list-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

