<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <p align="center">Registrar venta en la visita</p>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>


    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <ion-list>
        <ion-item class="">
            <ion-avatar slot="start">
                <img src="../../assets/images/profileU.jpg">
            </ion-avatar>
            <ion-label>
                <h3>Nombre del Punto:</h3>
                <h3>Nombre del Propietario:</h3>
                <h3>Dirección:</h3>
                <h5>Mi ubicación:</h5>
            </ion-label>
            <ion-label>
                <h5>{{resul.response.name}}</h5>
                <h3>{{resul.response.owner}}</h3>
                <h3>{{resul.response.address}}</h3>
                <ion-chip outline color="primary" *ngIf="sale.user_lat != null">
                    <ion-icon name="location"></ion-icon>
                    <ion-label>Detected</ion-label>
                    <ion-icon name="checkmark-done-outline"></ion-icon>
                </ion-chip>
                <ion-chip outline color="danger" *ngIf="sale.user_lat == null" (click)="getGeolocation()">
                    <ion-icon name="enter-outline"></ion-icon>
                    <ion-label>Obtener </ion-label>
                    <ion-spinner name="bubbles" color="primary"></ion-spinner>
                </ion-chip>
            </ion-label>

        </ion-item>
    </ion-list>
    <br>
    <form id="form">
        <div>

            <ion-item>
                <ion-label>Estado del punto</ion-label>
                <ion-select placeholder="eliga una opción" (ionChange)="atencionPublico($event)" [(ngModel)]="sale.attention_to_the_public" [ngModelOptions]="{standalone: true}">
                    <ion-select-option value="a">ABIERTO</ion-select-option>
                    <ion-select-option value="d">DOMICILIO</ion-select-option>
                    <ion-select-option value="c">CERRADO</ion-select-option>
                    <ion-select-option value="t">CERRADO TOTAL</ion-select-option>
                </ion-select>
            </ion-item>

        </div>

        <ion-radio-group value="grape" *ngIf="validaciones.abierto == 1">
            <ion-list-header>
                <ion-label>¿Eliga una Opción?</ion-label>
            </ion-list-header>
            <ion-item class="ion-margin-bottom">
                <ion-label>CHIP</ion-label>
                <ion-radio slot="start" color="tertiary" (click)="acciones('c')"></ion-radio>
            </ion-item>

            <ion-item class="ion-margin-bottom">
                <ion-label>RECARGA</ion-label>
                <ion-radio slot="start" color="primary" (click)="acciones('r')"></ion-radio>
            </ion-item>

            <ion-item class="ion-margin-bottom">
                <ion-label>NO VENTA</ion-label>
                <ion-radio slot="start" color="danger" (click)="acciones('n')"></ion-radio>
            </ion-item>
        </ion-radio-group>

        <br>
        <div *ngIf="options.chip == 1">
            <h3 class="centro">Datos de la Visita</h3>
            <ion-segment value="call">
                <ion-segment-button class="color" value="call" (click)="choose('I')">
                    <ion-label>Inventario</ion-label>
                </ion-segment-button>
                <ion-segment-button class="colorv" value="favorite" (click)="choose('V')">
                    <ion-label>Venta</ion-label>
                </ion-segment-button>

            </ion-segment>
        </div>



        <br>



        <div *ngIf="validaciones.chip == 1">
            <ion-grid *ngIf="validaciones.chipI == 1">
                <h5 class="centro">Tigo</h5>
                <ion-row>
                    <ion-col size="6">
                        <label class="aviso" *ngIf="tigoN">*</label>
                        <ion-item class="ion-margin-bottom">

                            <ion-input type="number" placeholder="normal" [(ngModel)]="sale.simcard_inventary_quantity" [ngModelOptions]="{standalone: true}"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <label class="aviso" *ngIf="tigoP">*</label>
                        <ion-item class="ion-margin-bottom">

                            <ion-input placeholder="Precargado" type="number" [(ngModel)]="sale.simcard_500mb_inventary_quantity" [ngModelOptions]="{standalone: true}"> </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <h5 class="centro">Claro</h5>
                <ion-row>
                    <ion-col size="6">
                        <label class="aviso" *ngIf="claroN">*</label>
                        <ion-item class="ion-margin-bottom">

                            <ion-input placeholder="Normal" type="number" [(ngModel)]="sale.simcard_inventary_quantity_claro" [ngModelOptions]="{standalone: true}"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <label class="aviso" *ngIf="claroP">*</label>
                        <ion-item class="ion-margin-bottom">

                            <ion-input placeholder="Precargado" type="number" [(ngModel)]="sale.simcard_pre_recharge_inventary_quantity_claro" [ngModelOptions]="{standalone: true}"> </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <h5 class="centro">Movistar</h5>
                <ion-row>
                    <ion-col size="6">
                        <label class="aviso" *ngIf="movistarN">*</label>
                        <ion-item class="ion-margin-bottom">

                            <ion-input placeholder="Normal" type="number" [(ngModel)]="sale.simcard_inventary_quantity_movistar" [ngModelOptions]="{standalone: true}"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <label class="aviso" *ngIf="movistarP">*</label>
                        <ion-item class="ion-margin-bottom">

                            <ion-input placeholder="Precargado" type="number" [(ngModel)]="sale.simcard_pre_recharge_inventary_quantity_movistar" [ngModelOptions]="{standalone: true}"> </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <h5 class="centro">Wow</h5>
                <ion-row>
                    <ion-col size="6">
                        <ion-item class="ion-margin-bottom">

                            <ion-input placeholder="Normal" type="number" [(ngModel)]="sale.simcard_inventary_quantity_wom" [ngModelOptions]="{standalone: true}"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item class="ion-margin-bottom">

                            <ion-input placeholder="Precargado" type="number" [(ngModel)]="sale.simcard_pre_recharge_inventary_quantity_wom" [ngModelOptions]="{standalone: true}"> </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

            </ion-grid>


            <ion-grid *ngIf="validaciones.chipV == 1">
                <ion-row>
                    <ion-col size="6">
                        <ion-item class="ion-margin-bottom">
                            <ion-label position="floating">Chip normal</ion-label>
                            <ion-input requerid type="number" [(ngModel)]="sale.simcard_sale_quantity" [ngModelOptions]="{standalone: true}"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item class="ion-margin-bottom">
                            <ion-label position="floating">Chip Pre</ion-label>
                            <ion-input requerid type="number" [(ngModel)]="sale.simcard_500mb_sale_quantity" [ngModelOptions]="{standalone: true}"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </div>

        <div *ngIf="validaciones.recarga == 1">
            <ion-grid>
                <ion-row>
                    <ion-col size="6">
                        <label class="aviso" *ngIf="saldoR"></label>
                        <ion-item>
                            <ion-label position="floating">¿Saldo actual?</ion-label>
                            <ion-input type="number" [(ngModel)]="sale.recharge_inventary_quantity" [ngModelOptions]="{standalone: true}"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <label class="aviso" *ngIf="montoR"></label>
                        <ion-item>
                            <ion-label position="floating">¿Monto?</ion-label>
                            <ion-input type="number" [(ngModel)]="sale.recharge_sale_quantity" [ngModelOptions]="{standalone: true}"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>


        </div>

        <div *ngIf="validaciones.noVenta == 1">

            <ion-item>
                <ion-label>Motivo no venta</ion-label>
                <ion-select placeholder="Select One">
                    <ion-select-option value="f">No Vende Recarga</ion-select-option>
                    <ion-select-option value="f">No Vende Sim</ion-select-option>
                    <ion-select-option value="f">Dejo de vender</ion-select-option>
                    <ion-select-option value="m">No tiene capital</ion-select-option>
                    <ion-select-option value="a">Tiene inventario</ion-select-option>
                    <ion-select-option value="c">No esta el encargado</ion-select-option>
                </ion-select>
            </ion-item>
        </div>

        <ion-button expand="block" shape="round" (click)="validateSave()">Guardar visita</ion-button>
    </form>

</ion-content>