ion-toolbar {
    --background: #ffffff;
    ion-button {
        text-transform: initial;
        font-size: 17px;
    }
}

.centro {
    text-align: center;
}

.aviso {
    color: red;
}

.color {
    background-color: #00377b !important;
    color: white;
}

.colorv {
    background-color: #FFBE00 !important;
    color: white;
}

.img {
    display: block;
    margin: auto;
    width: 20%;
    height: 30%;
}

.title {
    //background: #f5f5f3;
    padding-left: 30px;
    padding-right: 30px;
}


/*ion-item {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
    --highlight-height: 0px;
    a {
        font-size: 17px;
        letter-spacing: 0.5px;
        text-decoration: none;
    }
}*/

ion-content {
    --background: #ffffff;
    h1 {
        text-align: center;
        font-weight: 700;
        font-size: 26px;
        color: #010100;
        //margin-bottom: 15%;
    }
    h5 {
        padding-top: 10px;
    }
    #form {
        //margin-top: 15%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 0;
        ion-button {
            margin-top: 35px;
            height: 48px;
            font-size: 18px;
            text-transform: initial;
            border-radius: 50px;
            box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
            --box-shadow: none;
        }
    }
    p {
        //text-align: center;
        color: #b6b6b6;
        // margin-top: 40px;
    }
}