<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/gerente">Mi perfil</ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row>
    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" size-xl="4" offset-md="3" offset-lg="3" offset-xl="4">
      <ion-card>
        
    
        
          <ion-avatar >
            <img src="../../assets/images/profileU.jpg" alt="" class="img" >
          </ion-avatar>
       
          <div>
            <ion-item>
              <h2 class="centro">{{resul.response?.resumen.supervisor.name}}</h2>
            </ion-item>
          </div>

          <br>

          <ion-item>
            <h3 class="centro">Informacion de asesores</h3>
          </ion-item>

          <ion-list>
            
            <ion-item  *ngFor="let asesor of asesores" (click)="viewAsesor(asesor.response.user.id)">
              <ion-label>{{asesor.response.user.name}}</ion-label>
              <ion-badge *ngIf="asesor.response.points == 0" color="danger" slot="end">No tiene frecuencia</ion-badge>
              <ion-badge  *ngIf="asesor.response.points != 0" color="secondary" slot="end">{{asesor.response.salesQuantity / asesor.response.points * 100 | number}}%</ion-badge>
            </ion-item>

            <ion-item >
              <ion-label>Resumen</ion-label>
              
              <ion-badge *ngIf="resul.lenght != 0" color="secondary" slot="end">{{resul.response?.resumen?.totalSaleQuantity / resul.response?.resumen?.totalPoints * 100 | number}}%</ion-badge>
            </ion-item>

            
            
          </ion-list>

          
        

        <!-- <ion-col size="12" *ngIf="validacion.puntos == 0" >
          <ion-button expand="block" color="success" (click)="validar('a')">Buscar puntos restantes</ion-button>
        </ion-col>

        <ion-col size="12" *ngIf="validacion.puntos == 1" >
          <ion-button expand="block" color="success" (click)="validar('n')">ocultar puntos restantes</ion-button>
        </ion-col> -->
        
      </ion-card>
    </ion-col>
    
  </ion-row>

  <!-- <ion-list *ngIf="validacion.puntos == 1">
    <ion-list-header>
      Puntos pendientes
    </ion-list-header>

    <ion-item > 
      <ion-avatar slot="start">
        <img src="../../assets/images/profileU.jpg">
      </ion-avatar>
      <ion-label>
        <h2>RECARGAS ROSALIA</h2>
        <h3>659256</h3>
        <p>MIXTO</p>
      </ion-label>
    </ion-item>

    <ion-item > 
      <ion-avatar slot="start">
        <img src="../../assets/images/profileU.jpg">
      </ion-avatar>
      <ion-label>
        <h2>PAPELERIA  Y MISCELÃNEA MIL COLORES</h2>
        <h3>686945</h3>
        <p>MIXTO</p>
      </ion-label>
    </ion-item>

    <ion-item > 
      <ion-avatar slot="start">
        <img src="../../assets/images/profileU.jpg">
      </ion-avatar>
      <ion-label>
        <h2>VARIEDADES ISABELLA</h2>
        <h3>667289</h3>
        <p>PDA</p>
      </ion-label>
    </ion-item>

    <ion-item > 
      <ion-avatar slot="start">
        <img src="../../assets/images/profileU.jpg">
      </ion-avatar>
      <ion-label>
        <h2>VARIEDADES JK</h2>
        <h3>693701</h3>
        <p>PDA</p>
      </ion-label>
    </ion-item>
  </ion-list> -->
  

</ion-content>



