<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button>Salir</ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <!-- <ion-button routerLink="/buscar">Visita</ion-button> -->
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col size="12" size-sm="12" size-md="6" size-lg="6" size-xl="4" offset-md="3" offset-lg="3" offset-xl="4">
            <ion-card>
                <ion-avatar>
                    <img src="../../assets/images/profileU.jpg" alt="" class="img">
                </ion-avatar>
                <div>
                    <ion-item>
                        <h2 class="centro"> {{user.name}}</h2>
                    </ion-item>

                    <ion-item>
                        <h2 class="centro">{{user.rol}}</h2>
                    </ion-item>
                </div>
                <br>

                <ion-item>
                    <h3 class="centro">Detalle Departamentos


                    </h3>
                </ion-item>

                <ion-list>
                    <ion-item>
                        <ion-label>MAGDALENA</ion-label>
                        <ion-badge color="secondary" slot="end">0%</ion-badge>
                    </ion-item>
                    <ion-item>
                        <ion-label>CESAR</ion-label>
                        <ion-badge color="secondary" slot="end">0%</ion-badge>
                    </ion-item>
                    <ion-item>
                        <ion-label>GUAJIRA</ion-label>
                        <ion-badge color="secondary" slot="end">0%</ion-badge>
                    </ion-item>
                    <ion-item>
                        <ion-label>Resumen</ion-label>
                        <ion-badge color="secondary" slot="end">0%</ion-badge>
                    </ion-item>
                </ion-list>
            </ion-card>

        </ion-col>
    </ion-row>

</ion-content>