<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/gerente">Mi perfil</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" size-xl="4" offset-md="3" offset-lg="3" offset-xl="4">
      <ion-card>
        
    
        
          <ion-avatar >
            <img src="../../assets/images/profileU.jpg" alt="" class="img" >
          </ion-avatar>
       
          <div>
            <ion-item>
              <h2 class="centro">{{resul.response?.user.name}}</h2>
            </ion-item>

           
          </div>

          <br>

          <ion-item>
            <h3 class="centro">Detalles de la ruta</h3>
          </ion-item>

          <ion-list>
            
            <ion-item>
              <ion-label>visitas para hoy</ion-label>
              <ion-badge color="secondary" slot="end">{{resul.response?.points}}</ion-badge>
            </ion-item>
            <ion-item>
              <ion-label>Visitas realizadas hoy</ion-label>
              <ion-badge color="danger" slot="end">{{resul.response?.salesQuantity}}</ion-badge>
            </ion-item>

            <ion-item>
              <ion-label>visitas que faltan</ion-label>
              <ion-badge color="danger" slot="end">{{resul.response?.points - resul.response?.salesQuantity}}</ion-badge>
            </ion-item>

            <ion-item>
              <ion-label>Efectividad </ion-label>
              <ion-badge color="danger" slot="end" >{{(resul.response?.salesQuantity / resul.response?.points) * 100 | number : '1.1'}}%</ion-badge>
            </ion-item>
          </ion-list>
        

        <ion-col size="12" *ngIf="validacion.puntos == 0" >
          <ion-button expand="block" color="success" (click)="validar('a')">Buscar puntos restantes</ion-button>
        </ion-col>

        <ion-col size="12" *ngIf="validacion.puntos == 1" >
          <ion-button expand="block" color="success" (click)="validar('n')">ocultar puntos restantes</ion-button>
        </ion-col>
        
      </ion-card>
    </ion-col>
    
  </ion-row>

  <ion-list *ngIf="validacion.puntos == 1">
    <ion-list-header>
      Puntos pendientes
    </ion-list-header>

    <ion-item *ngFor="let point of points"> 
      <ion-avatar slot="start">
        <img src="../../assets/images/profileU.jpg">
      </ion-avatar>
      <ion-badge color="danger" slot="end">No visitado</ion-badge>
      <ion-label>
        <h2>{{point[0].name}}</h2>
        <h3>{{point[0].code}}</h3>
        <p>Estado DMS: {{point[0].status_dms}}</p>
      </ion-label>
    </ion-item>

  </ion-list>


  <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="getUbications( resul.response?.user.id )">
    <ion-fab-button color="primary">
      <ion-icon name="location-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  

</ion-content>


