<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      Puntos pendientes
    </ion-list-header>

    <ion-item *ngFor="let point of points; let indice=index" (click)="visitPoint(point[0].code)"> 
      <ion-avatar slot="start">
        <img src="../../assets/images/profileU.jpg">
      </ion-avatar>
      <ion-icon slot="end" class="iconIr" color="primary" name="chevron-forward-circle"></ion-icon>

      <ion-label>
        <h2>{{point[0].name}}</h2>
        <h3>{{point[0].code}}</h3>
       <h3>Estado DMS:<p> {{point[0].status_dms}}</p></h3> 
      </ion-label>
    </ion-item>

   

   
  </ion-list>


</ion-content>
