
ion-item.item {
    border-radius: 10px;
    height: 55px;
    box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
    --highlight-height: 0px;
    ion-input {
        font-size: 18px;
        --padding-top: 20px;
        --padding-bottom: 15px;
        --padding-start: 5px;
    }
    a {
        font-size: 17px;
        letter-spacing: 0.5px;
        text-decoration: none;
    }
  }

  
ion-content {
  --background: #f5f5f3;
}

