<ion-header class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="salir()">Salir</ion-button>
    </ion-buttons>
    <ion-title>
      <h2>
        Linea Movil
      </h2>
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="10">
        <p>
          Táctico
        </p>
      </ion-col>
      <ion-col size="2">
        <ion-toggle color="primary" [(ngModel)]="toggleTactico"></ion-toggle>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="10">
        <p>
          Portabilidad
        </p>
      </ion-col>
      <ion-col size="2">
        <ion-toggle color="primary" [(ngModel)]="togglePorta"></ion-toggle>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item class="ion-margin-bottom item">
    <ion-input [(ngModel)]="formData.point_code" required type="number" placeholder="ID PDV" minlength="4">
    </ion-input>
  </ion-item>
  <ion-item class="ion-margin-bottom item">
    <ion-select [(ngModel)]="formData.type" required placeholder="Tipo de Simcard">}
      <ion-select-option *ngFor="let option of lineType">{{option}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="ion-margin-bottom item">
    <ion-input  maxlength="10" [(ngModel)]="formData.line" required type="tel" placeholder="Numero de la linea Tigo" minlength="4">
    </ion-input>
  </ion-item>
  <ion-item *ngIf="togglePorta" class="ion-margin-bottom item">
    <ion-input  maxlength="10" [(ngModel)]="formData.line_port" required type="tel" placeholder="Numero de la linea portada">
    </ion-input>
  </ion-item>
  <ion-item *ngIf="togglePorta" class="ion-margin-bottom item">
    <ion-select [(ngModel)]="formData.operator" required placeholder="Operador a portar">}
      <ion-select-option *ngFor="let operador of operators">{{operador}}</ion-select-option>

    </ion-select>
  </ion-item>

  <ion-button (click)="save()" expand="block" type="submit" shape="round">Guardar</ion-button>

  <ion-item *ngFor="let line of lines" class="ion-margin">
    <ion-label>
      <h2>
        {{line.line}} <span *ngIf="line.type == 'Portada'"> - {{line.line_port}}</span>
      </h2>
      <p>
        {{line.type + ' - ' + line.point_code}}
      </p>
    </ion-label>
    <ion-button color="danger" (click)="destoy(line.id)">
      <ion-icon name="trash-sharp"></ion-icon>
    </ion-button>
  </ion-item>



</ion-content>